<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cambio contraseña</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/estilos.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/logo.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <body>
        <nav id="header" class="navbar" style="background-color: #6200EE;">
            <div class="container-fluid">
            <a class="navbar-brand">Social Pogona Henrylawsoni</a>
            <form class="d-flex" role="search">
                <a href="{{ url_for('perfil') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" style="color:white;" class="icon icon-tabler icon-tabler-user-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="12" cy="12" r="9"></circle>
                        <circle cx="12" cy="10" r="3"></circle>
                        <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
                    </svg>
                </a>
                <a href="{{ url_for('mensajes') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" style="color:white;margin-left: 15px;" class="icon icon-tabler icon-tabler-message-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4"></path>
                        <line x1="12" y1="11" x2="12" y2="11.01"></line>
                        <line x1="8" y1="11" x2="8" y2="11.01"></line>
                        <line x1="16" y1="11" x2="16" y2="11.01"></line>                
                    </svg>
                </a> 
            </form>
            </div>
        </nav>
        <main>
            <form class="formulario" action="{{ url_for('change_pass') }}" method="post">               
                <h1> <svg xmlns="http://www.w3.org/2000/svg" style="color:#6200EE;"class="icon icon-tabler icon-tabler-key" width="50" height="50" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <circle cx="8" cy="15" r="4"></circle>
                    <line x1="10.85" y1="12.15" x2="19" y2="4"></line>
                    <line x1="18" y1="5" x2="20" y2="7"></line>
                    <line x1="15" y1="8" x2="17" y2="10"></line>
                 </svg></i> Cambio de contraseña</h1>
                <div class="contenedor"> 

                    <div class="input-contenedor">
                        <i class="fas fa-key icon"></i>
                    <input type="text" placeholder="Confirmar correo" name="txtconfir_correo">
                    
                    </div> 

                    <div class="input-contenedor">
                    <i class="fas fa-key icon"></i>
                    <input type="password" placeholder="Contraseña actual" name="txtpass_cur">                    
                    </div>
                    
                    <!-- <div class="input-contenedor">
                        
                        <select class="aria-label"  >
                            
                        <option selected>seleccione su pregunta secreta</option>
                        <option value="1">Nombre de su primera mascota ?</option>
                        <option value="2">Nombre de su madre ?</option>
                        <option value="3">Nombre de su primera escuela ?</option>
                        <option value="3">pelicula favorita ?</option>
                        
                        
                        </select>
                        
                        </div>
                    
                    <div class="input-contenedor">
                        <i class="fas fa-key icon"></i>
                    <input type="text" placeholder="Respuesta secreta">
                    
                    </div> -->
                    <div class="input-contenedor">
                        <i class="fas fa-key icon"></i>
                        <input type="password" placeholder="Contraseña nueva" name="txtpass_new">
                        
                    </div>
                    <div class="input-contenedor">
                        <i class="fas fa-key icon"></i>
                        <input type="password" placeholder="Confirmar contraseña" name="txtcheck">
                        
                    </div>

                    <br>
                    {% for e in error %}
                    <div style="color: #6200EE;font-size: larger;">{{ e }}</div>
                    {% endfor %}

                    {% for a in succesful %}
                    <div style="color: #6200EE;font-size: larger;">{{ a }}</div>
                    {% endfor %}
                    <br>

                    <input type="submit" value="Actualizar" class="button">
                    <p style="color:#6200EE;">Acepto el cambio de mi contraseña por la estipulada actualmente.</p>
                    
                </div>
            </form>
        </main>
    </body>
</html>